:host {
  display: block;
}

.dates-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-bottom: 1rem;
}

.dates-grid span {
  padding: 10px;
  margin: 2px;
  background-color: #f0f0f0;
  border-radius: 50%;
  cursor: pointer;
}

.dates-grid span:hover {
  background-color: #ddd;
}

.dates-grid .date-view {
  margin-bottom: 10px;
  font-weight: bold;
}

.dates-grid .date-pick {
  padding: 6px;
  text-align: left;
}

.dates-grid .date-pick:hover {
  padding: 5px;
  background-color: #efeaea;
  cursor: pointer;
}
.dates-grid {
  display: grid;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem; 
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  color: gray;
}